doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Language Demo")
		meta(name="author" content="Daniel Ortiz")
		title Language Demo
		
		//- The script information associated 
		script(src="#{bowerAssets}/jquery/jquery.min.js")
		script(src="#{appAssets}/js/home.js")
	body
		#header
			.headerContent
				span Language
		.content
			h1 String Utils
			p(class='lengthAreaResult')
			textarea(class='lengthArea')
				
		#footer
			.link
				a(href="https://github.com/danielor/Language-Demo") Demo Source
				a(href="https://github.com/danielor/Language") Language Source