doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Language Demo")
		meta(name="author" content="Daniel Ortiz")
		title Language Demo
		
		//- The script information associated 
		script(src="#{bowerAssets}/jquery/jquery.min.js")
		script(src="#{appAssets}/js/home.js")
		link(rel="stylesheet" href="#{appAssets}/css/home.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css')
	body
		#header
			.headerContent
				span Language
		input(type='hidden',name='_csrf',value=_csrf)
		.content
			h1 String Utils
			
			h3 Length
			p(class='lengthAreaResult languageResult')
			textarea(class='lengthArea')
				
		#footer
			.link
				a(href="https://github.com/danielor/Language-Demo") Demo Source
				a(href="https://github.com/danielor/Language") Language Source